@charset "UTF-8";
* {
margin: 0;
}
html, body {
height: 100%;
}
body {
	background-image: url(images/background_main.png);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	font-family: 'Roboto', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -58px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px 0px #999999;
	box-shadow: 0px 0px 10px 0px #999999;
}
#header {
	height: 79px;
	background-image: url(images/header_background.png);
	padding-top: 26px;
	padding-left: 20px;
	padding-right: 20px;
}
#logo {
	width: 253px;
	height: 61px;
	float: left;
}
.mainNav {
	float: right;
	clear: none;
	width: 700px;
	font-family: "Roboto Slab", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	font-weight: 300;
	padding-top: 39px;
	text-align: right;
}
.mainNav ul li {
	display: inline;
}
.mainNav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.mainNav ul li a:hover {
	color: #003366;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.footerNav {
	float: right;
	clear: none;
	width: 670px;
	font-family: "Roboto Slab", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 12px;
	font-weight: 300;
	padding-top: 22px;
	text-align: right;
	padding-right: 20px;
}
.footerNav ul li {
	display: inline;
}
.footerNav ul li a {
	color: #CCCCCC;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.footerNav ul li a:hover {
	color: #003366;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}
#contentHead {
	width: 920px;
	height: 346px;
	margin-left: 30px;
	background-image: url(images/main_home_image.jpg);
	padding-left: 20px;
	padding-top: 15px;
}
h1 {
	font-size: 30px;
	font-family: "Roboto Slab", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 400;
	color: #003366;
	letter-spacing: -1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
h2 {
	font-size: 22px;
	font-family: "Roboto Slab", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 400;
	color: #003366;
	letter-spacing: -1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.welcome {
	width: 375px;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}
.footer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/footer_background.png);
	background-position: -10px 0%;
}
.footer, .push {
	height: 58px;
}
.bar {
	height: 30px;
}
p {
	padding-bottom: 20px;
	padding-top: 6px;
	font-size: 14px;
	line-height: 20px;
}
.contentWrap {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
}
.contentWrap p {
	padding-right: 240px;
}
.researchList {
	font-size: 14px;
	padding-right: 240px;
	padding-bottom: 30px;
}
.researchList li {
	padding-bottom: 10px;
}
.bookSection {
	width: 100%;
	height: 200px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 4px 0px #999999;
	box-shadow: 0px 0px 4px 0px #999999;
	margin-top: 30px;
}
.papers {
	width: 227px;
	height: 321px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 4px 0px #999999;
	box-shadow: 0px 0px 4px 0px #999999;
}
